@model VideoInfo
@{
    ViewData["Title"] = "";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>李志-忽然</title>
    <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link href="~/lib/helloweba_dplayer/css/DPlayer.min.css" rel="stylesheet" />
    <link href="~/lib/helloweba_dplayer/css/demo.css" rel="stylesheet" />
    <style>
    </style>
</head>
<body>
    <div class="container">
        @*<header>
                <div class="row">
                    <div class="col-md-3 col-xs-12"><h1 class="logo"><a href="http://www.helloweba.net" title="返回helloweba首页">helloweba</a></h1></div>
                    <div class="col-md-9 text-right"></div>
                </div>
            </header>*@
        <div class="row main">
            <div class="col-md-12">
                <h2 class="top_title">
                    @Model?.title
                </h2>
                <div class="container" style="width: 96%; margin: 30px auto">
                    <div id="dplayer"></div>

                </div>
            </div>
        </div>
        <footer>
            <p>Powered by helloweba.net  允许转载、修改和使用本站的DEMO，但请注明出处：<a href="http://www.helloweba.net">www.helloweba.net</a></p>
        </footer>
    </div>
    <script src="https://cdn.bootcdn.net/ajax/libs/hls.js/1.0.3-0.canary.7249/hls.min.js"></script>
    <script src="~/lib/helloweba_dplayer/DPlayer.min.js"></script>
    <script>
        const dp = new DPlayer({
            container: document.getElementById('dplayer'),
            screenshot: false,
            video: {
                url: '@Model?.url',
                type: 'hls',
                pic: '@Model?.pic',
                thumbnails: 'https://th.bing.com/th/id/R8c372fd892b3bd371eb3a1df8bd7fc88?rik=4KxekfOQD28FKA&riu=http%3a%2f%2fwww.desktx.com%2fd%2ffile%2fwallpaper%2fscenery%2f20170303%2fdfe53a7300794009a029131a062836d5.jpg&ehk=6ayU5y%2fwtGnzhu7g%2bJimm2REgEbHGczl9Mkbg3I1%2b5I%3d&risl=&pid=ImgRaw',
            }
            // subtitle: {
            //     url: 'webvtt.vtt'
            // },
            // danmaku: {
            //     id: 'demo',
            //     api: 'https://api.prprpr.me/dplayer/'
            // }
        });
    </script>
</body>
</html>