@{
    ViewData["Title"] = "";
}
<script src="~/skplayer/dist/skPlayer.min.js?v=@DateTime.Now.Millisecond"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>

<style>
    /*  body {
        font-family: '微软雅黑';
        background-color: #F0F0F0;
    }*/

    body {
        font-family: Arial, Helvetica, sans-serif;
        color: #6A6B6F;
        text-align: center;
        padding-top: 15px;
        width: 470px;
        margin: 0 auto;
    }

    h1 {
        font-size: 36px;
    }

    h2 {
        font-size: 24px;
    }

    p {
        font-size: 18px;
    }

    #skPlayer {
        margin: 27px auto 0;
    }

    .container {
        margin-top: 200px;
    }

    .doc {
        text-align: left;
    }

    pre {
        padding-left: 2em;
        font-size: 16px;
        line-height: 24px;
        color: #fff;
        background-color: #272822;
        border-radius: 3px;
    }

    @@media screen and (max-width: 768px) {
        body {
            width: 100%;
        }

        .doc {
            display: none;
        }
    }

    /*歌词*/
    #main {
        margin: 40px auto;
        width: 100%;
        /*border: 1px solid #D6D6D6;*/
        /*background-color: #FFFFFF;*/
        /*border-radius: 3px;*/
        /*box-shadow: 0 0 2px 1px #797979;*/
    }


    #lyric {
        height: 295px;
        overflow: hidden;
    }

    ul {
        position: relative;
        top: 40px;
        list-style: none;
        padding: 0;
        -webkit-transition: top .4s;
        -o-transition: top .4s;
        transition: top .4s;
    }

    li {
        text-align: center;
        font-size: 13px;
        line-height: 26px;
        transition: all .5s;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

        li.active {
            font-weight: bold;
            font-size: 15px;
            color: #89391F;
        }

        li:empty {
            height: 26px;
        }
</style>




<script>
    var allsong = [];
    var alllyric = [];


    $(function () {
        getMyLove();
    });

    let songList1 = [
        {
            name: '01黑色信封',
            author: '李志',
            src: 'https://2019334.xyz/share/1.%20%E8%A2%AB%E7%A6%81%E5%BF%8C%E7%9A%84%E6%B8%B8%E6%88%8F%282004%29/01黑色信封.mp3',
            cover: 'https://2019334.xyz/share/cover/1.jpg'
        },
        {
            name: '02青春',
            author: '李志',
            src: 'https://2019334.xyz/share/1.%20%E8%A2%AB%E7%A6%81%E5%BF%8C%E7%9A%84%E6%B8%B8%E6%88%8F%282004%29/02青春.mp3',
            cover: 'https://2019334.xyz/share/cover/1.jpg'
        },
        { name: '03阿兰', author: '李志', src: 'https://2019334.xyz/share/1.%20%E8%A2%AB%E7%A6%81%E5%BF%8C%E7%9A%84%E6%B8%B8%E6%88%8F%282004%29/03阿兰.mp3', cover: 'https://2019334.xyz/share/cover/1.jpg' },
        { name: '04离婚', author: '李志', src: 'https://2019334.xyz/share/1.%20%E8%A2%AB%E7%A6%81%E5%BF%8C%E7%9A%84%E6%B8%B8%E6%88%8F%282004%29/04离婚.mp3', cover: 'https://2019334.xyz/share/cover/1.jpg' },
        { name: '05欢愉', author: '李志', src: 'https://2019334.xyz/share/1.%20%E8%A2%AB%E7%A6%81%E5%BF%8C%E7%9A%84%E6%B8%B8%E6%88%8F%282004%29/05欢愉.mp3', cover: 'https://2019334.xyz/share/cover/1.jpg' },
        { name: '06卡夫卡', author: '李志', src: 'https://2019334.xyz/share/1.%20%E8%A2%AB%E7%A6%81%E5%BF%8C%E7%9A%84%E6%B8%B8%E6%88%8F%282004%29/06卡夫卡.mp3', cover: 'https://2019334.xyz/share/cover/1.jpg' },
        { name: '07被禁忌的游戏', author: '李志', src: 'https://2019334.xyz/share/1.%20%E8%A2%AB%E7%A6%81%E5%BF%8C%E7%9A%84%E6%B8%B8%E6%88%8F%282004%29/07被禁忌的游戏.mp3', cover: 'https://2019334.xyz/share/cover/1.jpg' },
        { name: '08罗庄的冬天', author: '李志', src: 'https://2019334.xyz/share/1.%20%E8%A2%AB%E7%A6%81%E5%BF%8C%E7%9A%84%E6%B8%B8%E6%88%8F%282004%29/08罗庄的冬天.mp3', cover: 'https://2019334.xyz/share/cover/1.jpg' },
        { name: '09红色气球', author: '李志', src: 'https://2019334.xyz/share/1.%20%E8%A2%AB%E7%A6%81%E5%BF%8C%E7%9A%84%E6%B8%B8%E6%88%8F%282004%29/09红色气球.mp3', cover: 'https://2019334.xyz/share/cover/1.jpg' }
    ]

    //http://www.chengfeilong.com/skPlayer/
    var player;

    function getMyLove() {
        $.ajax({
            type: "get",
            url: "/Home/Love",
            async: false,
            dataType: "json",
            success: function (data) {
                allsong = data;
                player = new skPlayer({
                    //autoplay: true,
                    //可选项,自动播放,默认为false,true/false
                    listshow: true,
                    //可选项配置同上
                    music: {
                        //必需项,音乐配置
                        type: 'file',
                        //必需项,自配置文件方式指定填'file'
                        source:
                            //必需项,音乐文件数组
                            data
                    }
                });


                $('#lovecount').text('共' + data[0].count + '首');
            },
            error: function (errorMsg) {
                alert("请求失败");
            }
        });
    }

</script>



<div class="pure-menu custom-restricted-width">
    <span class="pure-menu-heading">俺喜欢的 <span id="lovecount"></span> </span>
</div>

<div id="skPlayer">

</div>
<br />
<br />
<br />
<br />
<br />
<br />



<div id="main">
    <div id="lyric">
        <ul id="lyricContainer"></ul>
    </div>
</div>
<footer class=" footer ">
    <div class="">
        &copy; 2020 -
        <span>网页是抄的:<a target="_blank" href="https://2019334.xyz/">334player</a></span>
    </div>
</footer>



